<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{ title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/main.css')}}">
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</head>
<body>
    <div class="content" style="overflow-x:auto;">
 
        <div class="header">
            <a href="/" class="logo"><img class="logo-img" src="{{url_for('static', filename='images/ico1.png')}}" alt=""></a>
            <h1 class="logo-text">TO-DO LIST</h1>
          </div> 
        {% if Task%}
            <table>
                <tr>
                    <th>Task</th>
                    <th>Added</th>
                    <th>Actions</th>
                </tr>
                {%for i in Task:%}
                <tr>
                    <td>{{i[1]}}</td>
                    <td>{{i[2]}}</td>
                    <td>
                        <a href="/update/{{i[0]}}"">Update</a>
                        <a href="/delete/{{i[0]}}">Delete</a>
                        <a href="/done/{{i[0]}}">Done</a>
                    </td>
                </tr>
                {%endfor%}
                {%for i in done_tasks:%}
                <tr class="done">
                    <td><del>{{i[1]}}</del></td>
                    <td><del>{{i[2]}}</del></td>
                    <td>
                        <a href="/update/{{i[0]}}"">Update</a>
                        <a href="/delete/{{i[0]}}">Delete</a>
                        <a href="/undone/{{i[0]}}">Undone</a>
                    </td>
                </tr>
                {%endfor%}
            </table>
        {%elif done_tasks%}
        <div class="tasks-done">
            <img src="{{url_for('static', filename='images/ico3.png')}}" alt="">
            <h1>Congrats!!! You have completed all tasks.</h1>
        </div>
        {%else%}
        <div class="no-tasks">
            <img src="{{url_for('static', filename='images/ico2.png')}}" alt="">
            <h1>Nothing here, Please add your first task.</h1>
        </div>
        {% endif%}
        <form action="/" method="POST">
            <input class="text"type="text" name="content" id="content">
            <br>
            <input class="btn" type="submit" value="Add Task">
        </form>
    </div>
</body>
</html>